<p>
    @await Component.InvokeAsync("Simple")
</p>
<p>
    @await Component.InvokeAsync("SimpleComponentWithInheritance")
</p>
<p>
    @await Component.InvokeAsync("SimpleComponentWithAttribute")
</p>