@{
    var users = ViewData["Users"] as User[];
    ViewBag.Title = "DataTransportByViewData";
}

<ul>
    @foreach (var user in users)
    {
        <li>@("Name: " + user.Name + " Age: " + user.Age + " City: " + user.City)</li>
    }
</ul>
