@using Module17_ModelsAndViews.Models
@model User[]

@{
    ViewBag.Title = "Home Page";
    Layout = "_TestLayout";
}
<ul>
    @foreach (var user in Model)
    {
        <li>@("Name: " + user.Name + " Age: " + user.Age + " City: " + user.City)</li>
    }
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@await Component.InvokeAsync("ViewExample")*@
