<div class="col">
    <h4>Примеры работы с формами и строготипизированными хэлперами</h4>
    <ul>
        <li>
            @Html.ActionLink("GetUsers", "GetUsers")
        </li>
        <li>
            @Html.ActionLink("GetUser", "GetUser")
        </li>
        <li>
            @Html.ActionLink("AddUser", "AddUser")
        </li>
    </ul>
</div>