<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
</head>
<body>
    <div>
        @ViewBag.Title
        <br>
        Here Is Test Layout
        <br>
        @RenderBody()
    </div>
</body>
</html>
