<div class="container">
    <h2>
        Welcome on database examples page 
    </h2>
    <div>
        <ul>
            <li><a href="@Url.Action("InitDatabase")">Try to init database</a></li>
            <li><a href="@Url.Action("DropDatabase")">Try to drop</a></li>
            <li><a href="@Url.Action("GetUsers")">Users</a></li>
        </ul>
    </div>    
</div>